

.simple-resume__input-list__wrapper {
    position: relative;


    .simple-resume__input-list {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;


        &.simple-resume__input-list__wrapper--dot {

            .simple-resume__input-list__item::after {
                content: none;
            }
        }

        .simple-resume__input-list__item {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            position: relative;
            width: calc(100% - 8px);
            padding: 4px 0 4px 0;

            .drag-icon {
                display: none;
            }

            &:hover {
                .drag-icon, .simple-resume__input-list__item__remove-button {
                    display: block;
                }
            }

            .simple-resume__input-list__item__dot {
                display: inline-block;
                width: 4px;
                height: 4px;
                border-radius: 50%;
                background-color: #000;
            }

            .simple-resume__input-list__item__remove-button {
                display: none;
                position: absolute;
                top: -2px;
                right: -6px;
                z-index: 1;
            }
        }
    }
}


@media print {
    .simple-resume__input-list__item__remove-button {
        display: none;
    }
}
