
.simple-resume__content__container {
    display: flex;
    justify-content: flex-start;
    flex: 1 1 auto;
    height: 100%;

    $simple-resume__content__left__width: 240px;
    $simple-resume__content__right__width: calc(100% - 240px);

    .simple-resume__add-button {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 20px; height: 20px;
        border-radius: 50%;
        background-color: transparent;
        transition: 0.24s ease;
        cursor: pointer;
        z-index: 10;
        outline: 0;
        border: none;
        overflow: hidden;

        svg {
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .simple-resume__content__body__left {
        display: flex;
        flex-direction: column;
        width: $simple-resume__content__left__width;
        border-right: 1px solid #000;

        .simple-resume__content__body__left__header {
            display: flex;
            align-items: center;
            gap: 8px;
            padding: 16px;
            border-bottom: 1px solid #000;

            .educate__title__input { width: calc(100% - (8px + 24px)); }
        }

        .simple-resume__content__body__left__body {
            position: relative;
            display: flex;
            flex-direction: column;

            .simple-resume__content__body__left__top__educate-date { width: 70%; }

            .simple-resume__content__body__left__body__skill__container {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .simple-resume__input-list {
                    padding: 4px 16px 0 0;
                }
            }
        }

        .simple-resume__content__body__left__bottom {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 16px;

            .simple-resume__content__body__left__bottom__skill-sub-title {
                width: 70%;
            }
        }

    }
    .simple-resume__content__body__right {
        width: $simple-resume__content__right__width;

        .simple-resume__content__body__right__header {
            padding: 16px;
            border-bottom: 1px solid #000;
        }
    }

}

@media print {
    .simple-resume__add-skill-button, .simple-resume__add-button, .simple-resume__add-button > svg { display: none; }
}
