
.work-experience__input__list {

  .work-experience__input__list__item {
    padding: 16px;
    position: relative;

    &:hover .remove-icon {
      display: block;
    }

    &:hover .work-experience__input__list__item__drag-icon {
      display: block;
    }

    .work-experience__input__list__item__drag-icon {
      display: none;
    }

    .remove-icon {
      display: none;
      position: absolute;
      top: 8px;
      right: 10px;
      z-index: 1;
    }

    .work-experience__input__list__item__position, .work-experience__input__list__item__date {
      width: 160px;
    }
  }
}
