

$simple-resume__font-family: 'Pretendard', ui-sans-serif, system-ui, -apple-system,
'Segoe UI', Roboto, 'Helvetica Neue', Arial,
'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
'Segoe UI Symbol', 'Noto Color Emoji';


$simple-resume__placeholder__color: #cccccc;
$simple-resume__input__hover__color: #cccccc;
$simple-resume__input__focus__color: #000000;