
$simple-resume__intro__gap: 12px;
$simple-resume__intro__right__width: 200px;

.simple-resume__intro {
    position: relative;
    width: 100%;
    min-height: 160px;

    .simple-resume__intro__left, .simple-resume__intro__right {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        min-height: 156px;
    }

    .simple-resume__intro__left {
        width: calc(100% - ($simple-resume__intro__right__width + $simple-resume__intro__gap));
        height: 100%;
        padding-top: 16px;
        padding-left: 12px;
        padding-bottom: 16px;
        gap: 12px;
    }

    .simple-resume__intro__right {
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 8px;
        min-width: $simple-resume__intro__right__width;
        height: 100%;
        padding: 12px 0;
    }
}
