
.simple-resume__educate-input-list {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 52px;
    padding-top: 4px;

    .simple-resume__educate-input-list__item {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 12px 16px;
        background-color: #fff;

        .simple-resume__educate-input-list__item__container + .simple-resume__educate-input-list__item__container {
            margin-top: 4px;
        }

        .simple-resume__educate-input-list__item__container {
            position: relative;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 8px;

            .simple-resume__input-list__item__remove-button, .simple-resume__input-list__item__toggle-button {
                position: absolute;
                top: -8px;
                right: -8px;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                border: none;
                background-color: #ff3838;
                cursor: pointer;
                z-index: 1;

                &:after, &:before {
                    content: '';
                    position: absolute;
                    background-color: #fff;
                    transform: translate(-50%, -50%) rotate(45deg);
                    border-radius: 2px;
                }

                &:after {
                    width: 2px;
                    height: 12px;
                    top: 50%;
                    left: 50%;
                }
                &:before {
                    width: 12px;
                    height: 2px;
                    top: 50%;
                    left: 50%;
                }

                &:hover {
                    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
                }
            }

            .simple-resume__input-list__item__toggle-button {
                position: relative;
                top: 0;
                right: 0;
                background-color: #aaaaaa;

                &:before { transform: translate(-50%, -50%) rotate(0); }
                &:after { content: none; }

                &.simple-resume__input-list__item__toggle-button--off {
                    position: absolute;
                    top: 3px;
                    left: 0;

                    &:after {
                        content: '';
                        transform: translate(-50%, -50%) rotate(0);
                    }
                }

            }
        }
    }
}

@media print {
    .simple-resume__input-list__item__toggle-button, .simple-resume__educate-input-list__item__drag-icon {
        display: none;
    }
}
